html {
  box-sizing: border-box;
  color: #000;
  font-family: 'Contrail One', cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.body {
  width: 320px;
}

.brain {
  width: 46px;
}

.head-left {
  width: 125px;
}

.head-right {
  width: 125px;
}

.box {
  background-color: #2b3951;
}

.box-1{
  background-color: #1a2230;
}

h2 {
  color: white;
  text-align: center;
  margin: 0px;
  width: 100%;
  padding: 1em;
  font-size: 2rem;
}

body {
  background-color: #2b3951;
}
