html {
  box-sizing: border-box;
  color: #000;
  font-family: 'Contrail One', cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.body {
  width: 320px;
  position: relative;
  bottom: -180px;
  left: 39px;
}

.brain {
  width: 46px;
  position: relative;
  bottom: -85px;
  right: 145px;
}

.head-left {
  width: 125px;
  position: relative;
  bottom: 47px;
  left: 73px;
}

.head-right {
  width: 125px;
  position: relative;
  bottom: 47px;
  left: 70px;
}

main {
  background-color: #2b3951;

}




h2 {
  color: white;
  text-align: center;
  margin: 0px;
  width: 100%;
  padding: .75em;
  font-size: 2rem;

}


footer {
  background-color: #1a2230;
  bottom: 0;
  margin:0px;

}
